html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background:whitesmoke;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c {
  position: absolute;
  max-width: 400px;
  max-height: 800;
  width: 40ch;
  margin: 0 100px;
  height: 60ch;
  
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}
.title{
  text-align: left;
  padding: 20px 20px;
  color: grey;
}
.message{
  color:grey;
  padding: 10px 20px;
  text-align: left;
  font-family:cursive;
  font-size: 18px;
}
.front{
  background-color:wheat;
}

.back {
  background-image: url("./images/annie-spratt-fwKffp5QHiA-unsplash.jpg");
}

.text {
  color:black;
  font-weight: bolder;
  font-family: cursive;
  position: relative;
 text-align: center;
 font-size: 50px;
}